# 외부데이터
  
#### __한국은행 API_건축착공면적__  
  
시멘트 수요와 상관도가 높은 건축착공면적을 독립변수로 선정함

In [1]:
import pandas as pd
import requests

def korea_bank(col_name, code, item_code1='?', item_code2='?'):
  key = '**********' # 인증키 입력
  data_start = '1'
  data_end= '1000'
  cycle = 'MM'
  search_start = '201601' # start_date
  search_end = '202104' # end_date
  
  url = f'http://ecos.bok.or.kr/api/StatisticSearch/{key}/json/kr/{data_start}/{data_end}/{code}/{cycle}/{search_start}/{search_end}/{item_code1}/{item_code2}'
  res = requests.get(url)
  data = res.json()
  data = data['StatisticSearch']['row']
  df = pd.DataFrame(data).set_index('TIME')
  df = df[['DATA_VALUE']]
  df.rename(columns={df.columns[0]:col_name},inplace=True)
  return df

korea_bank('건축착공면적','085Y136','1','I47AB') # 건축물착공현황,연면적

          건축착공면적
TIME
201601   6938027
201602   8886058
201603  12687071
201604  14455683
201605  13279957
...          ...
202012  13063740
202101   7640798
202102  10281640
202103  13154816
202104  12006327

[64 rows x 1 columns]